<nav class="fh5co-nav" role="navigation">
<!-- <div class="top-menu"> -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center logo-wrap">
                <div id="fh5co-logo"><a href="/">Tasty<span>.</span></a></div>
            </div>
            <div class="col-xs-12 text-center menu-1 menu-wrap">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/detail">Detail</a></li>
                    <li class="has-dropdown">
                        <a href="/">Gallery</a>
                        <ul class="dropdown">
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Coffees</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Reservation</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </div>
        </div>
        
    </div>
<!-- </div> -->
</nav>